/*general*/
*{
    margin: 0px;
    padding: 0px;
}
/*body*/

body{
    background-image: 
  linear-gradient(transparent 11px,
    rgba(220,220,200,.8) 12px,
    transparent 12px),
  linear-gradient(90deg,
    transparent 11px,
    rgba(220,220,200,.8) 12px,
    transparent 12px);
  background-size: 100% 12px, 12px 100%;
  font-family: 'Jomhuria', cursive;
  font-size: 40px;
  overflow: hidden;
}
 /*figure*/

.fig{

    stroke: black;
    stroke-width: 4px;
    stroke-linecap: round;

    fill: transparent;
}

/*header*/
h1{
    margin-top: 20px;
}

/*figure 1*/

.figu{
    display: none;
}

/*wrong*/
.wrong{
    position: absolute;
    top: 20px;
    right: 400px;
    display: flex;
    flex-direction: column;
    text-align: right;
}
/*world*/
.world{
    bottom: 10;
    left: 50px;

}
/*letter*/
.letter{
    border-bottom: 3px solid black;
    display: inline-flex;
    font-size: 40px;
    align-items: center;
    justify-content: center;
    margin: 0px 3px;
    height: 50px;
    width: 20px;
}

/*disp*/

.fin{
    background-color: rgb(250, 224, 184 , 0.5);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
}
 /*fina*/
 .fina{
    background-color: rgb(21, 21, 36);
    border-radius: 5px;

 }
 